<menu2 id="MainMenu" title="@Strings.AppName" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://developer.garmin.com/downloads/connect-iq/resources.xsd">
    <menu-item id="item_pong" label="@Strings.game_pong" />
    <menu-item id="item_2048" label="@Strings.game_2048" />
    <menu-item id="item_flappy" label="@Strings.game_flappy" />
    <menu-item id="item_snake" label="@Strings.game_snake" />
    <menu-item id="item_breakout" label="@Strings.game_breakout" />
    <menu-item id="item_tictactoe" label="@Strings.game_tictactoe" />
    <menu-item id="item_simon" label="@Strings.game_simon" />
    <menu-item id="item_dino" label="@Strings.game_dino" />
    <menu-item id="item_tetris" label="@Strings.game_tetris" />
    <menu-item id="item_balanceball" label="@Strings.game_balanceball" />
    <menu-item id="item_maze" label="@Strings.game_maze" />
    <menu-item id="item_racing" label="@Strings.game_racing" />
    <menu-item id="item_draw" label="@Strings.game_draw" />
</menu2>
